.ant-menu-submenu-title {
    height: 70px !important;
    padding-left: 0 !important;
    padding-bottom: 40px;
}

.ant-menu .ant-menu-item {
    border-radius: 0 !important;
}

.ant-menu-item-only-child {
    padding-left: 24px !important;
}

:where(.css-dev-only-do-not-override-10vo1te).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: transparent;
    color: transparent;
}

th.ant-table-cell {
    background: #E9EDF3 !important;
}

.ant-table-container {
    border: 2px solid #E9EDF3 !important;
    border-radius: 10px !important;
}

.ant-table-wrapper .ant-table-thead tr th {
    text-align: center !important;
    /* border-right: 1px  solid #cacaca !important; */

}

.ant-table-thead tr th {
    border-bottom: 1px solid #f0f0f0 !important;
}

.ant-table-wrapper .ant-table-tbody tr td {
    text-align: center !important;

}

.ant-table-thead tr th .ant-table-cell {
    border-right: 2px solid #E9EDF3 !important;
}

.ant-modal-content .ant-modal-body {
    width: 930px !important;
    margin-top: 50px !important;
}

.test .ant-upload {
    width: 158px !important;
    height: 158px !important;
}

.ant-upload-list-item-container {
    width: 158px !important;
    height: 158px !important;
}

.modal2 .ant-modal-content .ant-modal-body {
    width: 100% !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.ql-container.ql-snow {
    border: none !important;
    height: 480px !important
}

.ant-btn-primary.ant-btn-dangerous:disabled {
    background: red;
    color: white;
    border: none;
}

.custom-label-class .ant-form-item-label>label {
    font-size: 16px;
    font-weight: 600;
    color: #242424;
}


.custom-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.custom-item:hover {
    background-color: #f5f5f5;
}

.ant-transfer-list-content-item .ant-checkbox-wrapper {
    display: none;
    /* Hide the checkboxes */
}

.ant-transfer-list-content-item {
    padding-left: 0;
    /* Adjust padding if needed */
}

.ant-transfer-operation {
    display: none !important;
}

/* asset.css */
.custom-transfer .ant-transfer-list {
    border: none !important;
    margin-left: 20px;
}

.ant-transfer-list-header-selected {
    display: none !important;
}

.ant-transfer-list-header-title {
    text-align: center !important;
    font-size: 14px !important;
    color: #242424;
    font-weight: 600;
}