.new {
    display: flex;
    margin-bottom: 20px;
}

.new .title {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 200px;
    margin-right: 5%;
    justify-content: center;
    text-align: center;
    background-color: #e8e5e5;
}



.new .content {
    margin-top: 10px;
}